@import url(hamburgers.css);
@import url(reset.css);
@import url(prism.css);
@import url(menu.css);
@import url(ui.totop.css) screen,projection;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&subset=cyrillic,cyrillic-ext,latin-ext');
@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima/ProximaNova-Regular.eot');
    src: url('../fonts/proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/proxima/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'proxima-semibold';
    src: url('../fonts/proxima/ProximaNova-Semibold.eot');
    src: url('../fonts/proxima/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/proxima/ProximaNova-Semibold.ttf') format('truetype');
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
body{
  color:#2f3748;
  font: 400 18px proxima
}
.wrapper{
  margin:-90px auto 0;
  padding:90px 0 142px;
  min-height:100vh;
  box-sizing:border-box
}
a,span.external-reference{
  color:#4c82be
}
code{
 color: #4c82be;
 background-color: rgb(244, 249, 253)
}
.indexH1, indexColumn h3, .indexColumn ,.coloredHeader{
   margin:10px;
   color: #2f3748
}

h1,.header1,h2, .header2{
   font: 400 28px Montserrat;
   margin:30px 0 30px
}
h3,.header3{
   font: 400 24px Montserrat;
   margin:30px 0 30px
}
h4, .header4{
   font: 400 20px Montserrat;
   margin:30px 0 30px
}
.navbar-default {
     background-color: #a1d6f7;
     border-color: #a1d6f7;
}
.index-img-div h1{
  font:700 47px/67px Montserrat;
  color:#282e3e;
  width: 330px;
}
@media (min-width: 435px) {
 .index-img-div h1{
   font:700 61px/67px Montserrat;
  }
}
.index-img-div h2{
  font:700 22px/34px proxima;
  width: 330px;
  margin-top: 19px;
}
.index-img-div{
  margin: 90px auto;
  min-height: 400px;
  background-color:#a1d6f7;
}
.computer-img{
  background:#a1d6f7 url('../images/general/index-image.webp') no-repeat;
  transform:translate(84px,-32px);
  background-size: contain;
  height:417px;
}
.start-learning{
 border-bottom: 2px solid rgba(10, 21, 26,0.15);
 display:block;
 width: 263px;
 height: 62px;
 border-radius: 19px;
 background-color: #4c82be;
 box-sizing: border-box;
 padding: 17px;
 text-align: center;
 margin-top:35px;
 color:white;
 font: 700 19px proxima;
 text-decoration:none;
 }
.start-learning:hover{
 border-top: 2px solid rgba(10, 21, 26,0.15);
 border-bottom: none;
 color:white;
 text-decoration:none;
}
.index-item{
  min-height: 200px;
  vertical-align:top;
  list-style: none;
  }
.index-items{
  margin-top:55px;
  margin-bottom:65px;
}
.index-items-text{
  font: 400 17px/29px proxima;
  color:#6b6b6b;
  text-align:justify;
  padding-top: 12px;
}
.index-item h3{
  font: 700 18px/29px proxima;
  color:#2f3748;
  text-align:center;
}
.mainDiv{
  font-size: 20px
}
.mainArea{
   width:1145px;
   margin: 0 auto;
}
.mainArea main article p {
   text-align:justify;
}
.lessonItem{
   float: left;
   width: 550px;
   min-height: 100px;
   padding: 20px;
}
.header1Center{
   margin:10px;
   text-align:center;
   font-size: 35px;
   font-weight: 200;
}
.javaCoreImg{
	width: 100px;
	height: 100px;
  display: block;
  margin:0 auto;
}
#buttonDiv{
  margin: 20px 0;
}
#commentDiv{
  padding:35px;
  max-height: 600px;
  overflow-y: auto;
  margin-top:37px;
}
.comment-wrapper{
   padding-top: 140px;
}
.comment-label{
    font: 700 18px proxima;
    position: relative;
    padding-left: 45px;
}
.comment-label:before{
   content: "";
   position: absolute;
   left: 0;
   width: 29px;
   height: 23px;
   display: inline-block;
   background: url('../images/general/sprites.webp') -97px -13px
}
.comment-user{
    font:700 21px proxima;
   color:#6b6b6b;
   padding-bottom:14px;
}
.comment-date{
    font:400 17px proxima;
   color:#6b6b6b;
}
.comment-text{
   font:700 17px/26px proxima;
   color:#2f3748;
   padding: 25px 0;
   overflow: hidden;
}
.comment-item{
  margin-bottom: 73px;
}
.comment-icon{
 padding-top:25px;
}
.div-comment-text-area{
  margin-top:50px;
}
.commentTextArea{
 padding:15px;
 outline:none;
 width: 100%;
 height: 83px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
 border-radius: 12px;
 background-color: #ffffff;
 resize: none;
 color:#2f3748;
 font: 700 17px proxima;
 margin-bottom:15px
}
.categoryImage{
  float: left;
  margin: 0px 30px 15px 100px;
  width:280px;
  height:200px
}
.lessons-list{
  font-size: 0;
  overflow-x: scroll;
  padding: 5px;
  counter-reset: lesson
}
.lessons-list>div{
  counter-increment: lesson;
  display: table-cell;
  padding: 0 70px 0 0;
}
.lessons-list>div>h5{
    font:700 23px Montserrat;
    color:#6b6b6b;
    margin:22px 0 20px 40px;
    height:56px;
    overflow:hidden;
}
.lessons-list>div>div{
   font:400 18px/28px proxima;
   color:#2f3748;
   margin:0 0 27px 40px;
   height:129px;
   width:250px;
   overflow:hidden;
   position:relative;
}
.lessons-list>li>div:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4em;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
}
.lessons-list>li>a{
   font:700 19px/30px proxima;
   color:#4c82be;
   margin-left:40px;
   border-bottom: 2px solid rgba(76, 130, 190, 0.28);
   padding-bottom: 6px;
}
.lessons-list>li>a:hover{
   color:#313a4c;
   text-decoration:none;
}
.scroll-style::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}
.scroll-style::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #F5F5F5;
}
.scroll-style::-webkit-scrollbar-thumb{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4c82be;
}
.learn-java{
  text-align: center;
  padding-top: 170px
}
.learn-java h3,.reasons{
   font:700 28px Montserrat;
   color: #2f3748;
   text-align: center
}
.learn-java-item{
  display: inline-block;
  vertical-align:top;
  font:700 21px proxima;
  color:#2f3748;
  text-align:center;
}
.all-tests-header:before{
    content:"";
    display:block;
    background: url('../images/general/sprites.webp') 6px -99px;
    width:101px;
    height:110px;
    margin: 15px auto
}
.all-tests-header, .all-questions-header{
  margin: 0 auto 40px auto;
  font:700 28px Montserrat;
  color:#6b6b6b;
  text-align:center
}
.all-questions-header:before{
   content:"";
   display:block;
   background: url('../images/general/sprites.webp') 6px -230px;
   width:121px;
   height:111px;
   margin: 15px auto
}
.test_header{
   font:700 20px proxima;
   color:#2f3748;
   padding: 30px 0;
   position:relative;
}
.test_header>a:before{
  float: right;
  color:#4c82be;
  font:700 19px proxima;
  padding-right:10px;
}
.test_header>a.collapsed:after, .read-answer.collapsed:before{
  content:"";
  position:absolute;
  border-bottom: 2px solid #4c82be;
  border-right: 2px solid #4c82be;
  transform:rotate(45deg);
  width:10px;
  height:10px;
  margin:5px;
  left:100%;
}
.test_header>a:after, .read-answer:before{
  content:"";
  position:absolute;
  border-bottom: 2px solid #4c82be;
  border-right: 2px solid #4c82be;
  transform:rotate(-135deg);
  width:10px;
  height:10px;
  margin:5px;
  left:100%;
}
.read-answer.collapsed:before, .read-answer:before{
    left:0;
}
.select-category-li .label{
  font-size:16px;
  color:#2f3748;
  text-align:left;
}
.select-category-li panel-body, .select-category-li{
 border:none;
 list-style: none;
}
.index-item1:before,.index-item2:before,.index-item3:before,.index-item4:before,
.index-image-pig:before,.index-image-globe:before,.index-image-flags:before{
    content:"";
    display:block;
    background: url('../images/general/sprites.webp');
    height:228px;
}
.index-item1:before,.index-item2:before,.index-item3:before,.index-item4:before{
   margin: 0 auto 24px auto;
}
.index-image-pig:before,.index-image-globe:before,.index-image-flags:before{
   margin: 0 auto 80px auto;
}
.index-item1:before{
    background-position: 6px -99px;
    width:101px;
    height:110px
}
.index-item2:before{
    background-position: 679px -105px;
    width:121px;
    height:110px
}
.index-item3:before{
    background-position: 539px -105px;
    width:121px;
    height:110px
}
.index-item4:before{
    background-position: 767px -655px;
    width:141px;
    height:110px
}
.pig-globe{
  font-size:0;
  margin-bottom:40px
}
.index-image-pig:before{
    background-position: 618px -200px;
    width:220px
}
.index-image-globe:before{
    background-position: -1px -421px;
    width:187px
}
.index-image-flags:before{
    background-position: 568px -421px;
    width:218px
}
.number-questions{
   font:700 19px/22.8px proxima;
   color:#6b6b6b
}
.styled-button{
  border: 3px solid #4c82be;
  border-radius: 12px;
  background:white;
  color:#6b6b6b;
  font:700 19px proxima;
  width:136px;
  height:42px;
  margin:10px 0;
  outline:none;
}
.styled-button:hover{
   color:white;
   background: #4c82be;
   border-color: #4c82be;
}
.number-questions-input{
  width:30px;
  height:20px;
  font:700 19px proxima;
  outline:none;
}
input.number-questions-input {
    -moz-appearance: textfield;
}
input.number-questions-input::-webkit-outer-spin-button,
input.number-questions-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inc, .dec{
  color:#4c82be;
  width:6px;
  height:14px;
  display:inline-block;
  font:700 19px proxima;
  margin: 0 5px;
  cursor:pointer;
}
.inc:hover, .dec:hover{
  color:#2f3748;
}
.exam-header1{
  font:500 28px/26px Montserrat;
  color:#2f3748;
  padding:10px 5px;
}
.exam-header2{
  font:500 19px/26px Montserrat;
  color:#2f3748;
  margin:20px 0 48px 0;
  float:left;
}
.questionEntryNumber{
    float: right;
    margin-top:20px;
    font:400 19px proxima-semibold;
    color:black;
}
.questionEntryBody .questionText{
  margin-top:82px;
}
.questionText {
    margin-bottom: 26px;
    white-space: pre-wrap;
    font:700 20px proxima;
    color:#2f3748;
}
.answerDiv{
    display:inline-block;
    font:400 20px/29px proxima-semibold;
    color:#2f3748;
    margin: 0 10px 20px;
}
#answersDiv{
  list-style:none;
}
.your-answer-div{
    font:600 20px/29px proxima-semibold;
    color:#6b6b6b;
    padding-top:26px;
}
.right-answer-div{
  font:600 20px/29px proxima-semibold;
  color:#2f3748;
  padding-top:26px;
}

input[type="checkbox"].test-checkbox{
	display: none;
}
input[type="checkbox"].test-checkbox+label{
	padding-right: 60px;
	position: relative;
}
input[type="checkbox"].test-checkbox+label:after{
		content: "";
		width: 17px;
		height: 17px;
		border: 1px solid #d7d7d7;
		position: absolute;
		margin: 3px 0 0 13px;
	}
input[type="checkbox"].test-checkbox:checked+label:after{
		content: "\2714";
		width: 17px;
		height: 17px;
		border: 1px solid #d7d7d7;
		position: absolute;
		color:#4c82be;
	    font:600 20px/20px proxima;
	    margin: 3px 0 0 13px;
}
.questionEntryDiv,.answersResult{
   counter-reset: section;
}
.answersResult{
 list-style:none;
}
.answerDiv:before,.right-answer-div:before,.your-answer-div:before{
   counter-increment: section;
   content: counter(section, lower-latin);
   padding:0 5px;
   font:400 16px proxima-semibold;
}
.answerDiv:before{
   color:#6b6b6b;
}
.questionText p, .answer p ,.answerDiv p,.your-answer-div p,.right-answer-div p{
    display: inline;
}
.questionText:before{
  counter-increment: question-section;
  content: counter(question-section);
  color:#6b6b6b;
  font:400 16px proxima-semibold;
  padding: 0 10px 0 0;
}
.finish-exam-button{
    text-align:right;
    padding-top:20px;
}
.answer {
    text-align: justify;
    padding: 10px 5px 10px 10px;
    white-space: pre-wrap;
    display: none;
    font:400 17px proxima;
    color:#2f3748;
}
.finish-exam-button a,.next-exam-button a,.previous-exam-button a{
   color:#4c82be;
   font:700 19px proxima;
}
.read-answer{
  color:#4c82be;
  font-size:0;
}
.finish-exam-button a,.next-exam-button a,.previous-exam-button a,.read-answer{
   position:relative;
}
.finish-exam-button a{
  padding-right:15px;
}
.next-exam-button,.previous-exam-button{
 padding-bottom:15px;
}
.next-exam-button a,.previous-exam-button a,.read-answer,.read-answer:visited{
   text-decoration:none;
}
.read-answer{
  padding-left:20px;
}
.examNumbers ul li{
  padding-right:45px;
  display:inline-block;
}
.examNumbers ul li a,.examNumbers ul li a:visited,.examNumbers ul li{
   text-decoration:none;
   color:#6b6b6b;
   font:700 19px proxima;
}
.examNumbers ul li.selected a{
     text-decoration:none;
     color:#2f3748;
     font:700 19px proxima;
}
.examNumbers ul{
   margin: 0 auto;
   font-size:0;
   text-align:center;
}
.next-exam-button{
    text-align:right;
}
.next-exam-button a:after{
   content:"";
   transform: rotate(-45deg);
   border-right: 2px solid #4c82be;
   border-bottom: 2px solid #4c82be;
   width: 10px;
   height: 10px;
   display: inline-block;
}
.previous-exam-button a:before{
  content:"";
  transform: rotate(45deg);
  border-left: 2px solid #4c82be;
  border-bottom: 2px solid #4c82be;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.smile{
	border-radius: 50%;
	border: 7px solid #4c82be;
	width: 101px;
	height:  101px;
	position: relative;
	box-sizing: border-box;
}
.smile:before, .smile:after{
	content: "";
	border-radius: 50%;
	border: 7px solid #4c82be;
	position: absolute;
}
.smile:before{
	top:26px;
	left:19px;
}
.smile:after{
	top:26px;
	left:55px;
}
.happy{
	position: absolute;
	border-radius: 50%;
	border-bottom: 7px solid #4c82be;
	border-right: 0 solid transparent;
	border-left: 0 solid transparent;
	width: 30px;
	height:  20px;
	top:45px;
	left:29px;
}
.sad{
	position: absolute;
	border-radius: 50%;
	border-top: 7px solid #4c82be;
	border-right: 0 solid transparent;
	border-left: 0 solid transparent;
	width: 30px;
	height: 20px;
	top:55px;
	left:29px;
}
.header-test-result{
 color:#2f3748;
 font:600 28px Montserrat;
 margin: 33px 0 70px 0;
}
.showQuestionsList{
  counter-reset: question-section;
  margin-bottom:84px;
  list-style:none;
}
.test-passed{
  color:#6b6b6b;
  font:400 20px proxima-semibold;
  padding-top:40px;
}
.answers-correct-label{
   color:#2f3748;
   font:400 20px proxima-semibold;
   padding-top:25px;
}
.from-100-percent-label{
  color:#6b6b6b;
   font:400 16px proxima-semibold;
   padding-top:10px;
}
.test-result-header-item{
  height:101px;
  margin-bottom:50px;
}
.face{
 padding-left: 50px;
}
.diagram{
  padding-left: 50px;
}
.right-wrong-answers{
  padding-top: 10px;
  text-align: center;
}
.right-answers-number{
   padding-top:15px;
   color:#2f3748;
   font:600 28px Montserrat;
}
.right-answers-label{
  padding-top:24px;
  color:#2f3748;
  font:400 20px proxima;
  margin-left:-15px;
  margin-right:-15px;
}
.wrong-answers-number{
  font:600 28px Montserrat;
   color:#6b6b6b;
}
.wrong-answers-label{
  padding-top:7px;
  color:#6b6b6b;
  font:400 20px proxima;
  margin-left:-15px;
  margin-right:-15px;
}
.your-answer{
 color:#6b6b6b;
 font: 600 16px proxima;
 padding: 28px 0 0 20px;
}
.right-answer{
 color:#2f3748;
 font: 400 16px proxima-semibold;
 padding: 28px 0 0 20px;
}
.show-course-header{
 font: 500 20px Montserrat;
 color:#2f3748;
 margin: 0 auto 60px;
 text-align: center;
}
.show-course-header:before{
  margin: 0 auto 27px;
  content:'';
  background: url('../images/courses/javaacup.png') no-repeat;
  width: 87px;
  height: 156px;
  display:block;
}
#categories{
   counter-reset: lesson;
   overflow: hidden
}
#categories li{
  counter-increment: lesson;
  list-style:none;
  padding: 0 60px 0 60px;
}
#categories li h2{
  min-height: 70px;
  margin:0;
}
.category-href,.category-sub-href,.read-questions-href,.article-url{
    border-bottom: 2px solid rgba(76, 130, 190, 0.28);
    color:#4c82be;
    font: 700 20px proxima;
    text-decoration:none;
}
.category-href:hover,.category-sub-href:hover,.read-questions-href:hover,.article-url:hover{
   text-decoration:none
}
.category-href{
  padding-bottom: 6px;
}
.category-desc{
  margin-bottom: 91px;
  padding-top:18px;
  color:#2f3748;
  font: 400 17px/27px proxima;
  min-height:150px;
}
@media (min-width: 1000px) {
 .category-article, .article-desc, .category-list{
   margin:0 100px
 }
}
.course-desc{
  font: 400 17px/27px proxima;
  color:#2f3748;
  margin: 0 80px 40px;
  overflow-wrap:break-word
}
.dropdown-menu{
  min-width:290px;
}
.show-category-header{
   font: 500 28px Montserrat;
   color:#2f3748;
   margin-top:45px;
   text-align:center;
}
.category-list{
  margin-top: 36px;
  list-style: none;
  counter-reset: li;
}
.category-list li{
 margin-top:28px;
 counter-increment: li;
}
.category-list li::before {
  content: counter(li);
  color: #6b6b6b;
  font:400 17px proxima;
  padding-right: 15px
}
.category-article{
  font:400 18px/27px proxima;
  color:#2f3748
}
#addComment{
  display:block;
  background: url('../images/general/sprites.webp') -216px -2px;
  padding: 1px;
  width: 27px;
  height: 27px
}
#addComment:hover{
  background-position:-255px -2px
}
/*Register form*/
.register-form{
  padding: 38px;
  position: relative;
  margin-top: 100px;
}
.top-detail{
    position: absolute;
    content: "";
    width: 104px;
    height: 104px;
    border: 26px solid #ff9148;
    border-radius: 50%;
    background: transparent;
    top: -140px;
    left: 50%;
    margin-left: -52px;
    z-index: 4;
}
.register-form:before{
    position: absolute;
    content: "";
    width: 135px;
    height: 60px;
    background: #ff9148;
    border-top-left-radius: 20px;
    top: -20px;
    left: 50%;
    margin-left: -150px;
    z-index: 4;
}
.register-form:after{
    position: absolute;
    content: "";
    width: 135px;
    height: 60px;
    background: #ff9148;
    border-top-right-radius: 20px;
    top: -20px;
    left: 50%;
    margin-left: 15px;
    z-index: 4;
}
.top-detail:after{
    position: absolute;
    content: "";
    width: 300px;
    height: 60px;
    background: #ff9148;
    top: 70px;
    left: 50%;
    margin-left: -150px;
    border-bottom: 20px solid #dc7d3e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.white-bg{
  position: relative;
  height: 758px;
  background-color: white;
  border-radius: 6px;
  box-shadow: -3px 3px 0 3px rgba(0, 0, 0, 0.15), 0 0 0 49px #2d4d71;
}
.white-bg:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 55px solid  #2d4d71;
  border-left:  55px solid  transparent;
  border-right:  55px solid  transparent;
  transform: rotate(-45deg);
  bottom:-14px;
  right: -36px;
}
.white-bg:before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 55px solid  #ececec;
  border-left:  55px solid  transparent;
  border-right:  55px solid  transparent;
  transform: rotate(135deg);
  bottom:25px;
  right: 2px;
}
.modal-content{
  border-radius: 56px;
}
.register-header{
  color:#2f3748;
  font: 600 28px Montserrat;
  padding-top:80px;
  text-align:center;
}
.register-label{
  margin-left: 80px;
  color:#6b6b6b;
  font: 600 16px proxima;
  margin-bottom:27px;
}
.register-input{
  margin-left: 80px;
  margin-bottom:39px;
  color:#2f3748;
  font: 700 16px proxima;
}
.register-button,.register-joined-text{
 text-align:center;
}
.read-questions-div{
  margin-top:28px;
  padding-left:30px;
}
.pass-test-btn{
  margin-top:28px;
  margin-left:30px;
  width:170px;
  display:block;
}
.article-head{
  font: 700 28px Montserrat;
  color:#2f3748;
}
.article-head-date{
  margin:80px 0 28px 1px;
}
.article-author{
 font: 400 20px proxima;
 color:#6b6b6b;
 margin-bottom:26px;
}
.add-article-btn{
 display:block;
 margin-top:40px;
 width:170px;
}
.article-list{
 margin-left:35px;
 list-style: none;
 margin-bottom:114px;
}
.article-desc{
 font: 400 17px/27px proxima;
 margin-bottom:26px;
}
.article-date{
 color:#6b6b6b;
 font: 400 17px proxima;
 text-align: right;
 margin-top:20px;
}
.optgroup>ul{
 list-style:none;
}
#seeOtherQuestions{
 margin-top:30px;
 display:block;
}
.examclouds-label{
  color:white;
  background-color:#4c82be;
  max-width:474px;
  text-align:center;
  display:block;
  padding:10px;
  border-radius:15px
}
.about-items{
  padding-bottom:142px;
  padding-top:15px
}
.questionEntryDivPicture{
 padding-left:8px
}
.questionEntryDivPicture .questionText{
 width:470px
}
.picture-wrap-href{
 overflow-wrap:break-word
}
.social-buttons{
 text-align:right
}
.inc-div{
  padding:10px 0
}
.answer-hidden{
 visibility:hidden;
 height:0;
 padding-top:0
}
.wrongMessage{
   color:#FF0000;
}
.selectWidth{
 width: 156px;
}
.adminUserTable{
  height:100px;
  overflow-y: scroll;
  border:1px double #666e74;
  padding-left:20px;
  margin-bottom:20px;
  width:100%;
}
.adminUserCell{
  width:22%;
  display:inline-block;
  float:left;
}
.adminUserCellHead{
  width:22%;
  display:inline-block;
  float:left;
  font-weight:bold;
}
.adminUserHead{
 padding-left:20px;
}
.adminComment{
  display:inline-block;
}
.notAnsweredQuestion {
    display: block;
}
.answeredQuestion {
    display: block;
}
.showAnswer {
    color: darkblue;
    font-size: 10pt;
    position:relative;
}
.selectOptionsPanel{
   font-size:13px;
   font-weight: bold;
}
.questionEntryCheckboxDiv{
  width:20px;
  vertical-align:top;
  display:inline;
  float:right;
}
.inlineForm{
  display:inline;
}
.adminLabel{
  font-weight:bold;
  width:150px;
  display:inline-block;
}
.commentList{
  list-style:none;
  padding:0px;
}
.commentBody{
  background:#f6f6f6;
  padding:20px;
  border:1px solid #e2e2e2;
  margin:10px;
}
.answerBlockDiv{
    width:100%
}
.glyphicon-envelope{
 vertical-align:middle
}
.glyphicon-facetime-video:before {
    color: #4c82be;
    vertical-align: middle;
    padding-right: 5px;
}
.patreon-class{
    margin-top:5px
}